:root {
    --primary-color: #2E2B23;
    --secondary-color: #121440;
    --accent1-color: #CED5E3;
    --accent2-color: #F4F5F8;
    --heading-font: 'Bebas Neue', Helvetica, sans-serif;   
    --body-font: 'Roboto';
}
* {
    margin: 0;
    padding: 0;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
p {
    font-family: var(--body-font); 
    text-align: justify;
}
a {
    text-decoration: none;
    font-family: var(--body-font); 
}
/*Hero section*/
.hero {
    background: url('../images/hero.jpg') no-repeat center/cover;
    text-align: center;
    padding: 80px 20px;
    color: black;
}
.hero h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
article {
    display: flex;
    align-items: center;
    gap: 20px;
}
article p {
    flex: 1;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5;
    color: white;
}

article img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

/*Header section*/
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	max-width: 1000px;
}
.logo-box img {
	margin: 0 0.25rem 0 1rem;
	width: 75px;
	height: auto;
}
nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-family: var(--body-font);
}
nav li {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: var(--secondary-color);
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

nav a:hover {
	color: var(--primary-color);
	font-weight: 700;
	text-decoration: underline;
}
/* History Section*/
.history {
    padding: 40px;
    text-align: center;
    background-color: var(--accent1-color);
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
}
.history-image {
    width: 200px;
    height: auto;
}
/*Gallery Section*/
.gallery, .employees {
    text-align: center;
    padding: 40px;
    background-color: var(--accent2-color);
}
.gallery-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-item img {
    width: 150px;
    height: 100px;
}
/*Contact Page*/
.contact-info {
    text-align: center;
    padding: 20px;
}
/*Form*/
form {
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    background-color: var(--accent2-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 1rem;
    
}
.form-item {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
legend {
    color: navy;
    padding: 0.5rem;
    font-size: 1.3em;
}
label, input, button, select, textarea {
    font-family: var(--body-font);
}
label {
    text-align: left;
}
input[type="text"],
input[type="email"] {
    flex-grow: 1;
    padding: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}
button {
    width: 200px;
    margin: 1rem auto;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
    text-align: center;
}
button:hover {
    background-color: var(--primary-color);
}
/*Get to know us*/
.employees {
    text-align: center;
    padding: 40px;
    background-color: var(--accent2-color);
}
.employee-container {
    display: flex;
    justify-content: center;
    gap: 250px;
}
.emp-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.emp-item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
/*Wrr contact info*/
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 150px;
}
.contact-us {
    max-width: 300px;
}
.map iframe{
    width: 300px;
    height: 250px;
    border: none;
}

/*Tips Page*/
.trips {
    text-align: center;
    padding: 70px;
    background-color: var(--accent2-color);
}
.trips-container {
    display: flex;
    justify-content: center;
    gap: 70px;
}
.trip-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
}
.trip-item figcaption {
    width: 100%;
    padding-top: 5px;
}
.trip-item img {
    width: 250px;
    height: 200px;
}
/*Table*/
.trips-table {
    text-align: center;
    padding: 70px;
}
table {
    width: 800px;
    border-collapse: collapse;
    margin: 10px auto;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
/*Contact Section*/
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 150px;
    background-color: var(--accent2-color);
}
.contact-section img {
    width: 500px;
    height: auto;
}
.call-to-action {
    justify-content: center;
}
.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    margin-top: 15px;
}
.contact-button:hover {
    background-color: var(--primary-color);
}
/*Home*/
.hero-home {
    position: relative;
    width: 100%;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    text-align: center;
    color: white;
    overflow: hidden;
    padding-top: 20px; 
}

.hero-home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.hero-home h1 {
    position: relative; 
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    z-index: 2;
    margin-top: 20px; 
    color: #fff;
}
/*Grid Section*/
.home-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; 
    max-width: 800px; 
    margin: 0 auto; 
    padding: 50px;
}
.home-item {
    text-align: center;
}

.home-item img {
    width: 100%; 
    height: 300px;
    border-radius: 10px; 
}

.home-item figcaption {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}
/*Newsletter*/
.newsletter {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
}

.newsletter fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.newsletter legend {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.nl-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nl-item input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border 0.3s;
}

/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer p {
    flex-grow: 1;
    text-align: center;
}
.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons a img {
    width: 30px;
    height: 30px;
}