:root {
    --primary-color: #2E2B23;
    --secondary-color: #121440;
    --accent1-color: #CED5E3;
    --accent2-color: #F4F5F8;
    --heading-font: 'Bebas Neue', Helvetica, sans-serif;   
    --body-font: 'Roboto';
}
* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}
p {
    font-family: var(--body-font); 
    text-align: justify;
}
a {
    text-decoration: none;
}
/*Hero section*/
.hero {
    background: url('/wwr/images/hero.jpg') no-repeat center/cover;
    text-align: center;
    padding: 80px 20px;
    color: black;
}
.hero h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
article {
    display: flex;
    align-items: center;
    gap: 20px;
}
article p {
    flex: 1;
    text-align: left;
    font-size: 1.1em;
    line-height: 1.5;
    color: white;
}

article img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

/*Header section*/
header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	max-width: 1000px;
}
.logo-box img {
	margin: 0 0.25rem 0 1rem;
	width: 75px;
	height: auto;
}
nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	font-family: var(--body-font);
}
nav li {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: var(--secondary-color);
	padding: 20px;
	text-decoration: none;
	font-size: 1.2rem;
}

nav a:hover {
	color: var(--primary-color);
	font-weight: 700;
	text-decoration: underline;
}
/* History Section*/
.history {
    padding: 40px;
    text-align: center;
    background-color: var(--accent1-color);
}

.history-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 20px;
}
.history-image {
    width: 200px;
    height: auto;
}
/*Gallery Section*/
.gallery {
    text-align: center;
    padding: 40px;
    background-color: var(--accent2-color);
}
.gallery-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery-item img {
    width: 150px;
    height: 100px;
}
/*Footer*/
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer p {
    flex-grow: 1;
    text-align: center;
}
.social-icons {
    display: flex;
    gap: 10px;
}
.social-icons a img {
    width: 30px;
    height: 30px;
}